#external{
    color: blue;
}
*{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

/* CSS Selectore */

#typeselector{
    color: blue;
}

.class{
    color: red;
}

h4>p{
    color: red;
}

#descendant div span {
    font-size: large;
    color: red;

}
#Adjacent+p{
    color:blue ;
}

#General ~ p{
    color: red;
}
