a{
    text-decoration: none;
    font-style: italic;
    color: black;
   
}

a{
    text-decoration: none;
    font-style: italic;
    color: black;
   
}

#p{
    color: yellow;
}
.c{
    color: red;
}